.header{
  background: transparent;
  width: 100%;
  z-index: 400;
  transition: 0.4s;
}
.top-social {
  background: #0e4876;
  text-align: left;
  padding-top: 0px;
  color: #fff;
}
.top-left {
  float: left;
}
@media only screen and (max-width: 767px){
.top-left {
    display: none;
}
}
@media only screen and (max-width: 768px){
.top-left {
    display: block !important;
}
}
.region-header-top-left {
  padding: 20px 0;
}